{% load static %}

<!DOCTYPE html>
<html lang="en">
<link href="{% static '/css/starter.css' %}" rel="stylesheet" type="text/css">
<head>

  <meta name="the site for the Hertie Student org SHIELD" content="">
  <meta name="Heather Dannyelle Thompson" content="">

  <title>SHIELD</title>
  <h1>SHIELD</h1>
  <h2>
  Hello and welcome to diversity in policy making!
  </h2>
  <img src="{% static 'img/type_logo.png' %}" alt="SHIELD stands for Student society of Hertie for Inclusion, Equity, Liberty, and Diversity"
     height="100" width="300">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card body"></div>
                    <img src="{% static 'img/logo.jpg' %}" height="100" width="100">
            </div>
            <div class="col-md-9">
                <div class="card card body"></div>
                    <h4>hi there!</h4>
                    <p>SHIELD's mission is....</p>
            </div>
        </div>
    </div>
    
     <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card card body"></div>
            </div>
            <div class="col-md-6">
                <div class="card card body"></div>
            </div>
        </div>
    </div>
    
     <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card card body"></div>
            </div>
            <div class="col-md-6">
                <div class="card card body"></div>
            </div>
        </div>
    </div>
</body>

  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0 small">Copyright &copy; SHIELD 2020</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
