{% extends "personal/header.html" %}
{% load static %}

<html>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card body"></div>
                    <img src="{% static 'img/logo.jpg' %}" >
                    <hr>
                    <h4>hi there!</h4>
                    <p>SHIELD's mission is....</p>
            </div>
            <div class="col-md-9">
                <div class="card card body"></div>
            </div>
        </div>
    </div>
    
     <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card card body"></div>
            </div>
            <div class="col-md-6">
                <div class="card card body"></div>
            </div>
        </div>
    </div>
    
     <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card card body"></div>
            </div>
            <div class="col-md-6">
                <div class="card card body"></div>
            </div>
        </div>
    </div>
</body>
</html>
    